@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin-block-end: 0;
	}

	body {
		margin: 0;
		padding: 0;
	}

	ul[role="list"],
	ol[role="list"] {
		list-style: none;
	}

	body {
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	img,
	picture {
		max-width: 100%;
		display: block;
	}

	figure {
		margin: 0;
		padding: 0;
	}

	dialog {
		padding: 0;
	}

	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		letter-spacing: inherit;
	}

	textarea:not([rows]) {
		min-height: 10em;
	}

	:target {
		scroll-margin-block: 5ex;
	}
}

@layer base {
	:root {
		/* Font */
		--text-font-ff: "Public Sans", sans-serif;
		--heading-font-ff: "Averia Serif Libre", serif;

		--step-4: 2rem;
		--step-1: 1rem;
		--step--1: 0.8rem;

		--font-line-height-s: 1;
		--font-line-height-m: 1.5;
		--font-spacing-m: -0.03em;

		/* Colors */
		--black-main: #000000;
		--black-overlay: #150a12;
		--black-faint: #1f2122;
		--black-purplish: #262526;

		--white-main: #ffffff;
		--white-off-white: #f9fafb;
		--white-off-pink: #fff8f8;

		--grey-main: #dcdcdc;
		--grey-dark: #6B6B6B;
		--grey-dirty: #574f4f;
		--grey-light-dark: #D9D9D9;

		--accent-orange: #ff8800;
		--accent-brown: #b86200;
		--accent-blue: #0ddeed;
		--accent-purple: #640ed5;
		--accent-crayola: #ed0d45;
		--accent-ncs-red: #b6022f;
		--accent-reddish: #ed0d27;
		--accent-lime-green: #04d131;
		--accent-pink: #ed0d88;

		--gradient-green-yellow: linear-gradient(90deg, #04d131 0%, #f8ec2c 100%);
		--gradient-orange-blue: linear-gradient(90deg, #ed580d 0%, #0ddeed 100%);

		/* Spacing */
		--spacing-xxs: 0.125rem;
		--spacing-xs: 0.25rem;
		--spacing-s: 0.5rem;
		--spacing-m: 0.625rem;
		--spacing-d: 0.75rem;
		--spacing-l: 1rem;
		--spacing-xl: 1.25rem;
		--spacing-xxl: 2rem;
		--spacing-xxxl: 2.5rem;
		--spacing-xvl: 3rem;

		/* Radius */
		--radius-xxs: 4px;
		--radius-m: 16px;
		--radius-l: 20px;
		--radius-xl: 24px;
		--radius-xxl: 40px;
		--radius-xxxl: 48px;
	}

	body {
		font-family: var(--text-font-ff);
		letter-spacing: var(--font-spacing-m);
		line-height: var(--font-line-height-m);
		padding-inline: var(--spacing-d);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--heading-font-ff);
		line-height: var(--font-line-height-s);
	}

	h3 {
		font-size: var(--step-4);
	}
}

@layer structure {
	.block {
		display: grid;
		grid-auto-rows: min-content;
	}

	.spacer-normal {
		gap: var(--spacing-l);
	}

	.double-split {
		display: flex;

		& > * {
			flex-basis: 50%;
		}
	}

	.bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

@layer styling {
	.icon svg {
		vertical-align: top;

		g path {
			fill: var(--black-overlay);
		}
	}

	.btn {
		padding-block: var(--spacing-xs);
		padding-inline: var(--spacing-m);
		border-radius: var(--radius-l);
		background-color: var(--accent-orange);
		border: none;
	}

	.dialog-btn {
		padding-block: var(--spacing-xl);
		border-radius: var(--radius-xxs);
		text-transform: uppercase;
		background-color: var(--black-main);
		color: var(--white-main);
		grid-column: 1/-1;
	}

	.dialog {
		max-width: 960px;
		border: none;

		opacity: 0;
		transform: translateY(100%) scale(0);
		transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
			display 0.4s ease-in-out;
	}

	.dialog[open] {
		opacity: 1;
		transform: translateY(0) scale(1);
		transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
			display 0.4s ease-in-out;
	}

	@starting-style {
		.dialog[open] {
			opacity: 0;
			transform: translateY(100%) scale(0);
		}
	}

	.dialog::backdrop {
		background: rgb(0, 0, 0, 0.6);
		padding: 2rem;
	}

	.dialog-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.dialog-block {
		padding: var(--spacing-xxl);
		gap: var(--spacing-m);

		form {
			margin-block-start: var(--spacing-m);
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: min-content;
			gap: var(--spacing-m);

			label:first-child {
				display: flex;
				flex-direction: column;
				gap: var(--spacing-s);

				.text {
					font-weight: 600;
				}

				input {
					padding: var(--spacing-l);
					border: 1px solid var(--grey-main);
				}

				grid-column: 1/-1;
			}

			label:not(:first-child) {
				margin-block: var(--spacing-m) var(--spacing-l);
			}

			.bar {
				grid-column: 1/-1;
				text-align: center;
				font-size: var(--step--1);
				color: var(--grey-main);
				justify-content: center;
				gap: var(--spacing-m);
			}
		}
	}

	.modal {
		width: 100%;
		height: 100%;
	}

	.image-holder {
		aspect-ratio: 6/7;
	}

	.game-bar {
		background-color: var(--black-overlay);
		color: var(--white-off-white);
		border: 8px solid var(--black-purplish);
		border-radius: var(--radius-xl);
		padding-inline: var(--spacing-xl);
		padding-block-start: var(--spacing-l);

		.timeline {
			height: 7px;
			border: 1px solid var(--accent-reddish);
			border-bottom: none;
			position: relative;
			margin-block-end: var(--spacing-l);

			#score {
				position: absolute;
				top: -10px;
				left: 0;
				right: 0;
				margin-inline: auto;
				width: fit-content;
				background: var(--black-overlay);
				padding-inline: var(--spacing-s);
				font-size: var(--step--1);
			}
		}

		.pill {
			display: grid;
			place-content: center;
			margin-block-end: var(--spacing-l);

			span {
				font-size: var(--step--1);
				line-height: 20px; /* refix */
				padding-inline: var(--spacing-s);
				padding-block: var(--spacing-xxs);
				display: inline-block;
				margin-inline: auto;
				background: var(--black-faint);
				border-radius: var(--radius-xl);
			}
		}

		.game-info {
			border: 1px solid var(--grey-dirty);
			border-bottom: none;
			border-top-left-radius: var(--radius-m);
			border-top-right-radius: var(--radius-m);
			margin-inline: var(--spacing-d);
			padding-inline: var(--spacing-m);
			padding-block: var(--spacing-d);

			/* Hotfix */
			flex-wrap: wrap;
			gap: var(--spacing-s);

			p {
				margin: 0;
			}
		}

		.block {
			margin-block-end: var(--spacing-xxl);
		}
	}

	.name,
	.type {
		display: inline-block;
		font-size: var(--step-1);
		line-height: var(--font-line-height-m);
	}

	.name {
		padding-inline: var(--spacing-s);
		background: var(--accent-pink);
		color: var(--black-main);
	}

	.type {
		padding-inline: var(--spacing-s);
		background: var(--accent-purple);
		color: var(--white-main);
		border-radius: var(--spacing-xvl);

		&.alternate {
			background: var(--accent-lime-green);
		}
	}

	.block-item {
		display: flex;
		justify-content: start;

		a {
			text-decoration: none;
			display: flex;
			align-items: center;
			gap: var(--spacing-d);

			span:first-child {
				font-weight: 600;
			}

			.card {
				width: 18px;
				height: 22px;
				border-radius: var(--radius-xxs);
				background: var(--accent-orange);
				border: 1px solid var(--accent-brown);
				transform: rotate(7.35deg);
				display: none;
			}
		}

		&[data-issue="medium"] {
			a > .card {
				display: block;
			}
		}

		&[data-issue="hard"] {
			a > .card {
				display: block;
				background: var(--accent-crayola);
				border: 1px solid var(--accent-ncs-red);
			}
		}
	}

	.block-item-alternate {
		display: flex;
		justify-content: end;

		a {
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: end;
			gap: var(--spacing-d);

			span:last-child {
				font-weight: 600;
				width: 20px;
				text-align: end;
			}

			.icon svg g path {
				fill: var(--accent-blue);
			}

			.current-score {
				background: var(--accent-purple);
				color: var(--white-off-pink);
				padding-inline: var(--spacing-s);
				border-radius: var(--radius-xxl);
				font-weight: 700;
				font-size: 14px;
				text-wrap: nowrap;
			}
		}
	}

	.grad-btn {
		display: inline-block;
		text-decoration: none;
		padding: 0;
		border: none;
		background: linear-gradient(var(--position), #ed0d88 0%, #1d77ff 100%);
		border-radius: var(--radius-xxxl);
		padding: 2px; /*hotfix*/

		animation: rotate-bg 0.5s infinite linear;
	}

	.button-inner {
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		gap: var(--spacing-s);
		background: var(--black-main);
		color: var(--white-main);
		padding-block: 2px; /* hotfix */
		padding-inline-start: 2.5px;
		padding-inline-end: var(--spacing-d);
		border-radius: var(--radius-xxxl);

		.icon {
			display: grid;
			place-content: center;
			background: var(--white-main);
			color: var(--black-main);
			border-radius: var(--radius-xl);
			padding: var(--spacing-xs);

			svg g path {
				fill: var(--black-main);
			}
		}
	}

	.alt-btn {
		padding: 2px;
		border: none;
		border-radius: var(--radius-xxxl);
		position: relative;
		overflow: hidden;
		display: inline-block;
		text-decoration: none;
	}

	.alt-btn::before {
		content: "";
		display: block;
		width: 12px;
		height: 120px;
		background: var(--gradient-green-yellow);
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-inline: auto;
		animation: rotate 4s infinite linear;
		transform-origin: top center;
	}

	.ob-btn::before {
		background: var(--gradient-orange-blue);
		animation-delay: 0.5s;
	}

	.alt-inner {
		z-index: 1;
		position: relative;
	}



	.clipper {
		.start, .midpoint, .end {
			background-color: --grey-light-dark	;
		}

		.start {
			width: 52px;
			height: 52px;
			border-radius: 50%;
		}

		.midpoint
	}
}

@layer animations {
	@keyframes rotate-bg {
		from {
			--position: 0deg;
		}

		to {
			--position: 270deg;
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0);
		}

		to {
			transform: rotate(360deg);
		}
	}
}
