@layer reset {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	p,
	figure,
	blockquote,
	dl,
	dd {
		margin-block-end: 0;
	}

	body {
		margin: 0;
		padding: 0;
	}

	ul[role="list"],
	ol[role="list"] {
		list-style: none;
	}

	body {
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	img,
	picture {
		max-width: 100%;
		display: block;
	}

	figure {
		margin: 0;
		padding: 0;
	}

	dialog {
		padding: 0;
	}

	input,
	button,
	textarea,
	select {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		letter-spacing: inherit;
	}

	textarea:not([rows]) {
		min-height: 10em;
	}

	:target {
		scroll-margin-block: 5ex;
	}
}

@layer base {
	:root {
		/* Font */
		--text-font-ff: "Public Sans", sans-serif;
		--heading-font-ff: "Averia Serif Libre", serif;

		--step-6: clamp(3.5rem, 2.9783rem + 2.6087vw, 5rem);
		--step-5: clamp(2.5rem, 2.3261rem + 0.8696vw, 3rem);
		--step-4: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
		--step-3: clamp(1.75rem, 1.663rem + 0.4348vw, 2rem);
		--step-2: clamp(1.25rem, 1.163rem + 0.4348vw, 1.5rem);
		--step-1: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
		--step-0: 1rem;
		--step--1: 0.8rem;
		--step--2: 0.75rem;

		--font-line-height-s: 1;
		--font-line-height-m: 1.11;
		--font-line-height-l: 1.33;
		--font-line-height-xl: 1.5;

		--font-spacing-m: -0.03em;
		--font-spacing-l: -0.05em;
		--font-spacing-xl: -0.06em;

		/* Colors */
		--black-main: #000000;
		--black-overlay: #150a12;
		--black-faint: #1f2122;
		--black-reddish: #232121;
		--black-purplish: #262526;

		--white-main: #ffffff;
		--white-off-white: #f9fafb;
		--white-offset: #f5f5f5;
		--white-off-pink: #fff8f8;
		--white-overlay: #f9fafb;

		--grey-main: #dcdcdc;
		--grey-dark: #6b6b6b;
		--grey-light: #e3e3e3;
		--grey-light-dark: #d9d9d9;
		--grey-lighter: #e5e5e5;
		--grey-overlay: #e9e9e9;
		--grey-dirty: #574f4f;
		--grey-darker: #646464;
		--grey-battleship: #898989;
		--grey-transparent: #d9d9d980;
		--grey-pinkish: #ffe9f5;

		--accent-orange: #ff8800;
		--accent-purple: #640ed5;
		--accent-pink: #ed0d88;
		--accent-blue: #0ddeed;
		--accent-brown: #b86200;
		--accent-engine-red: #cf171a;
		--accent-crayola: #ed0d45;
		--accent-ncs-red: #b6022f;
		--accent-reddish: #ed0d27;
		--accent-loud--pink: #ff00b7;
		--accent-carribean: #00727a;
		--accent-lime-green: #04d131;
		--accent---sepia: #6b3a01;
		--accent---rust: #ac4120;

		--gradient-green-yellow: linear-gradient(90deg, #04d131 0%, #f8ec2c 100%);
		--gradient-orange-blue: linear-gradient(90deg, #ed580d 0%, #0ddeed 100%);

		/* Spacing */
		--spacing-xxs: 0.125rem;
		--spacing-xs: 0.25rem;
		--spacing-ds: 0.375rem;
		--spacing-s: 0.5rem;
		--spacing-m: 0.625rem;
		--spacing-d: 0.75rem;
		--spacing-l: 1rem;
		--spacing-xl: 1.25rem;
		--spacing-xxl: 2rem;
		--spacing-xxxl: 2.5rem;
		--spacing-xvl: 3rem;

		/* Radius */
		--radius-xxs: 4px;
		--radius-xs: 8px;
		--radius-s: 12px;
		--radius-m: 16px;
		--radius-l: 20px;
		--radius-xl: 24px;
		--radius-xxl: 40px;
		--radius-xxxl: 48px;
	}

	@font-face {
		font-family: Tanker;
		src: url("https://ik.imagekit.io/ndtwmeq4p/eiop/Tanker-Regular.ttf");
	}

	body {
		font-family: var(--text-font-ff);
		letter-spacing: var(--font-spacing-m);
		line-height: var(--font-line-height-xl);
		background: var(--white-off-white);
		background: linear-gradient(
			to right,
			var(--white-off-white) 99%,
			var(--white-offset) 99%
		);
		background-size: 10% auto;

		/* Testing */
		/* & > :last-child {
			margin-block-end: 480px;
		} */
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3 {
		font-family: var(--heading-font-ff);
		line-height: var(--font-line-height-s);
		letter-spacing: var(--font-spacing-l);
		font-weight: 400;
	}

	h1,
	.h1 {
		font-size: var(--step-6);
		margin-block: var(--spacing-l) var(--spacing-xl);
	}

	h2,
	.h2 {
		font-size: var(--step-5);
		margin-block: 0 var(--spacing-l);
	}

	h3,
	.h3 {
		font-size: var(--step-4);
	}

	p {
		font-size: var(--step-0);
		line-height: var(--font-line-height-xl);
		letter-spacing: var(--font-spacing-m);
		margin-block: var(--spacing-xl);
	}

	button {
		cursor: pointer;
	}
}

@layer structure {
	.block {
		display: grid;
		grid-auto-rows: min-content;
	}

	.spacer-normal {
		gap: var(--spacing-l);
	}

	.spacer-large {
		gap: var(--spacing-xxxl);
	}

	.double-split {
		display: flex;

		& > * {
			flex-basis: 50%;
		}
	}

	.bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.auto-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
		gap: var(--spacing-m);
	}
}

@layer styling {
	.icon svg {
		vertical-align: top;

		g path {
			fill: var(--black-overlay);
		}
	}

	.full-svg {
		width: 100%;
		height: auto;
	}

	.link {
		text-decoration: none;
		color: var(--accent-orange);
	}

	.img-cover {
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.link-decorate {
		--size: 0.05em;
		text-decoration: none;
		color: var(--black-main);
		background: linear-gradient(to right, black, black);
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: 0% var(--size);
		transition: background 0.2s linear;

		&:hover {
			background-size: 100% var(--size);
		}

		&.alt-decorate {
			background-image: linear-gradient(to right, white, white);
			color: var(--white-main);
		}
	}

	.constant-link {
		--size: 2px;
		background-size: 100% var(--size);

		&:hover {
			animation: underline-it 0.4s linear forwards;
		}
	}

	/* .fullscreen {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: var(--white-main);
		z-index: 3;
	} */

	#navpopover {
		transform: translateY(100%);
		opacity: 0;
		transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out,
			display 0.2s ease-in-out;
		transition-behavior: allow-discrete;
	}

	#navpopover:popover-open {
		width: 100%;
		height: 100%;
		background: var(--white-main);
		border: none;
		padding: var(--spacing-xvl);
		overflow: hidden;

		transform: translateY(0);
		opacity: 1;

		.fullscreen {
			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin-block-end: 48px;
					transform: none;
					opacity: 1;
					transition: transform 0.4s calc(var(--delay) * 1s) linear,
						opacity 0.4s calc(var(--delay) * 1s) linear;

					@starting-style {
						transform: translateY(100%);
						opacity: 0;
					}
				}
			}
		}

		.link-info {
			width: min(480px, 100%);
		}

		#closenavpopover {
			position: absolute;
			bottom: 0;
			right: var(--spacing-xvl);

			background: var(--accent-orange);
			color: var(--black-overlay);
			padding-block: var(--spacing-ds) 70px;
			padding-inline: var(--spacing-m) var(--spacing-d);
			border: none;
			height: 100px;
			transform: none;
			transition: transform 0.2s ease-in;

			@starting-style {
				transform: translateY(100%);
			}
		}

		.nav-svg {
			position: absolute;
			right: 0;
			top: 6vh;
			transform: translateX(475px);
			max-width: 1100px;
			width: 100%;
			height: auto;
			transition: transform 0.4s 0.2s linear;

			@starting-style {
				transform: translateY(100%); /* Liked the weird behaviour*/
				transform: translateX(100%);
			}
		}

		@starting-style {
			transform: translateY(100%);
			opacity: 0;
		}
	}

	.hero {
		padding-block-end: 120px;
	}

	.hero-svg {
		max-width: 1100px;
		width: 100%;
		height: auto;
	}

	.padded-link {
		/* display: inline-block; */
		padding-block: var(--spacing-xxs);
	}

	#identifier {
		display: flex;
		position: absolute;
		top: var(--spacing-l);
		right: var(--spacing-xvl);

		span {
			display: inline-block;
			font-size: 16px;
			line-height: 1.625;
			padding-inline: var(--spacing-m);
		}

		span:first-child {
			background: var(--accent-orange);
		}
		span:nth-child(2) {
			background: var(--accent-pink);
			border-radius: var(--radius-xl);
		}
		span:last-child {
			background: var(--accent-blue);
			border-radius: var(--radius-xxl);
		}
	}

	.hero-content {
		p {
			max-width: 480px;
		}
	}

	.highlighter {
		display: inline-block;
		background: var(--accent-engine-red);
		color: var(--white-off-pink);
		border-radius: var(--radius-xxl);
		padding-inline: var(--spacing-s);
		cursor: pointer;
		position: relative;

		.highlight-wrap {
			position: absolute;
			padding-block-end: 24px;

			bottom: 50%;
			left: calc(100% - 24px);

			display: none;
		}

		.highlight {
			position: relative;

			display: inline-block;
			width: 200px;
			background: var(--black-overlay);
			color: var(--white-main);
			padding: var(--spacing-s);
			border-radius: var(--radius-s);
			font-size: var(--step--2);
			cursor: auto;

			&::after {
				content: "";
				position: absolute;
				bottom: -15px;
				left: 24px;
				background: var(--black-overlay);
				width: 39px;
				height: 16px;
				mask-image: url(#mask);
			}

			&[data-color="white"] {
				background: var(--white-off-white);
				color: var(--black-overlay);

				&::after {
					background: var(--white-off-white);
					mask-image: url(#altmask);
				}
			}

			.list-span {
				margin-inline-start: var(--spacing-l);
				display: inline-block;
				position: relative;

				&::before {
					content: "\2022";
					position: absolute;
					left: -8px;
				}
			}
		}

		&:hover > .highlight-wrap {
			display: block;
		}
	}

	.pad {
		padding-inline: var(--spacing-xl);
	}

	.constraint {
		max-width: 1960px;
		margin-inline: auto;
	}

	.gapper {
		margin-block: 120px;
	}

	.bottom-bar {
		padding: var(--spacing-d) var(--spacing-xxxl);
		background: var(--white-main);
		border-top: 1px solid var(--grey-overlay);

		position: fixed;
		z-index: 2;
		bottom: 0;
		width: 100%;

		.progress {
			display: flex;
			align-items: center;

			p {
				margin: 0;
				font-size: var(--step-2);
				font-weight: 600;
				width: clamp(3rem, 2.6522rem + 1.7391vw, 4rem);
			}

			.blocks {
				display: flex;
				gap: var(--spacing-s);

				.block {
					width: 4px;
					height: 20px;
					background: var(--grey-overlay);
				}
			}
		}

		button {
			background: none;
			border: none;
			font-size: var(--step-4);
			font-weight: 600;
			letter-spacing: var(--font-spacing-xl);
			line-height: var(--font-line-height-m);
		}
	}

	#details {
		max-width: 560px;
		margin-inline: auto;

		p {
			margin-block: var(--spacing-l);
		}

		.link-group {
			display: flex;
			flex-wrap: wrap;
			gap: var(--spacing-s);
		}
	}

	#present {
		padding-block-end: 120px;

		p.text-group.pad {
			margin-block: var(--spacing-xxxl);
		}

		header {
			background: var(--white-main);
			border-bottom: 1px solid var(--grey-overlay);
			padding: var(--spacing-d) var(--spacing-xxxl);
			position: sticky;
			top: 0;

			h2 {
				font-size: var(--step-2);
				font-family: var(--text-font-ff);
				font-weight: 600;
				margin: 0;
			}

			p {
				font-weight: 600;
				margin: 0;
			}

			button {
				width: var(--spacing-xvl);
				height: var(--spacing-m);
				border-radius: var(--radius-m);
				border: none;
				background: var(--grey-lighter);

				&[data-state="active"] {
					background: var(--accent-engine-red);
				}
			}
		}
	}

	#expansive {
		#project {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.buttons-para {
				margin-block-start: var(--spacing-l);

				p {
					text-align: end;
					color: var(--grey-darker);
				}
			}
		}

		#life {
			margin-block-start: 120px;

			.end {
				display: flex;
				gap: var(--spacing-m);
				margin-block-start: var(--spacing-xxl);

				& > :first-child {
					flex: 2 1 0;
				}

				& > :last-child {
					flex: 2 1 0;
				}

				.link-box {
					display: flex;
					gap: 2px;

					.link-block {
						background: var(--accent-pink);
						color: var(--white-off-white);
						padding-inline: var(--spacing-l);
						padding-block: var(--spacing-d);
						border-radius: var(--radius-xs);
						flex: 1;

						h5 {
							font-family: var(--text-font-ff);
							font-size: var(--step-1);
							margin: 0;
							margin-block-start: var(--spacing-s);
						}

						p {
							margin-block: var(--spacing-s) 0;
							max-width: 480px;
						}
					}

					.decorator {
						width: 108px;
						background: var(--accent-pink);
						border-radius: 64px 672px 50px 64px;
						flex-shrink: 0;
						position: relative;

						&::after {
							content: "";
							width: 24px;
							height: 24px;
							background: var(--black-reddish);
							border-radius: 50%;
							position: absolute;
							bottom: 4px;
							left: 4px;
						}
					}
				}

				.para-series {
					max-width: 480px;
					margin-inline-start: var(--spacing-l);
					margin-block-start: var(--spacing-xxxl);
				}
			}
		}
	}

	#odin {
		gap: var(--spacing-xxl);
		margin-block-end: 64px;

		h2 {
			margin-block-start: var(--spacing-xxxl);
		}

		.blob-interactive {
			min-height: 640px;
		}

		.group {
			flex-grow: 1;
			overflow: hidden;
		}
	}

	#tradition {
		background: var(--black-main);
		color: var(--white-main);
		padding-block: var(--spacing-xvl) var(--spacing-l);
		position: relative;
		overflow: hidden;

		/* .text-group[data-type="xbig"] {
			mask-image: linear-gradient(to right, black 90%, transparent),
				linear-gradient(to right, transparent 10%, black 80%, transparent);
		} */

		.end {
			align-items: end;
			margin-block-start: 200px;
			gap: var(--spacing-m);

			p {
				max-width: 290px;
				margin: 0;
			}
		}
	}

	.project-grid {
		flex-basis: 100%;
		margin-block-start: var(--spacing-xxxl);

		display: flex;
		gap: var(--spacing-d);

		overflow-x: auto;
		scrollbar-width: none;

		.project-frame {
			display: inline-block;
			text-decoration: none;
		}

		.box {
			width: 310px;
			height: 205px;
			background: var(--grey-light);
			border-radius: var(--radius-s);
			overflow: hidden;
			/* border: 2px solid var(--grey-light); */
		}

		p {
			margin-block: var(--spacing-s);

			span {
				padding-inline: var(--spacing-s);
				display: inline-block;
			}

			span:first-child {
				background: var(--accent-pink);
				color: var(--black-main);
			}

			span:last-child {
				background: var(--accent-purple);
				color: var(--white-main);
				border-radius: var(--radius-xxxl);
			}
		}
	}

	.blob-interactive {
		background: var(--white-main);
		border: 1px solid var(--grey-battleship);
		border-radius: var(--radius-xl);
		padding: var(--spacing-m);
		position: relative;

		&[data-type="small"] {
			max-width: 640px;
		}

		.clear {
			position: absolute;
			right: 16px;
			top: 16px;
			z-index: 2;
		}
	}

	.circle {
		border-radius: 50%;
		text-transform: uppercase;
		display: grid;
		place-content: center;
		font-family: Tanker;
		position: absolute;
		text-decoration: none;
		opacity: 1;
		transform: scale(1);
		transition: opacity 0.6s, transform 0.4s, display 0.4s;
		transition-behavior: allow-discrete;

		@starting-style {
			opacity: 0;
			transform: scale(0);
		}

		&[data-type="s"] {
			width: 230px;
			height: 230px;
			background: var(--accent-engine-red);
			color: var(--white-main);
			bottom: 128px;
			right: 52px;
		}

		&[data-type="m"] {
			width: 270px;
			height: 270px;
			background: var(--accent-pink);
			color: var(--grey-pinkish);
			top: -26px;
			right: -41px;
		}

		&[data-type="l"] {
			width: 312px;
			height: 312px;
			background: var(--accent-blue);
			color: var(--accent-carribean);
			bottom: -64px;
			right: 259px;
		}

		&[data-type="xl"] {
			width: 360px;
			height: 360px;
			background: var(--accent-orange);
			color: var(--accent---sepia);
			top: 58px;
			right: 232px;
		}
	}

	#boxBlob {
		display: flex;
		gap: 8px;

		.columnbar {
			max-width: 90px;
			width: 100%;
			background: var(--black-main);
			border-radius: var(--radius-m);
			opacity: 1;
			transform: translateX(0) scale(1);
			transition: opacity 0.4s, transform 0.4s, display 0.4s;
			transition-behavior: allow-discrete;

			@starting-style {
				opacity: 0;
				transform: translateX(100%) scale(0.25);
			}
		}
	}

	.text-group {
		flex: 1 1 0;
		max-width: 480px;
		min-width: min(300px, 100%);

		&[data-type="big"] {
			max-width: 560px;
		}

		&[data-type="xbig"] {
			max-width: 640px;
		}
	}

	#here {
		display: flex;
		flex-wrap: wrap;

		.clipper-wrap {
			flex: 2 1 0;
			min-width: min(500px, 100%);
		}
	}

	.footer {
		padding-block: 120px;
		display: flex;
		align-items: end;
		flex-wrap: wrap;

		.full-svg {
			max-width: 1100px;
		}

		p {
			font-size: var(--step-5);
			text-wrap: nowrap;

			span {
				display: inline-block;
				padding-inline: var(--spacing-m);
				line-height: 1;
			}

			span:first-child {
				background: var(--accent-loud--pink);
				border-radius: var(--radius-xl);
			}

			span:last-child {
				background: var(--accent-orange);
			}
		}
	}

	.btn {
		padding-block: var(--spacing-xs);
		padding-inline: var(--spacing-m);
		border-radius: var(--radius-l);
		background-color: var(--accent-orange);
		border: none;
		text-wrap: nowrap;
	}

	.side-btn {
		background-color: var(--white-main);
	}

	.clr-btn {
		background-color: var(--accent-crayola);
		color: var(--white-off-pink);
	}

	.dialog-btn {
		padding-block: var(--spacing-xl);
		border-radius: var(--radius-xxs);
		text-transform: uppercase;
		background-color: var(--black-main);
		color: var(--white-main);
		grid-column: 1/-1;
	}

	#discount-dialog {
		max-width: 960px;
		border: none;

		opacity: 0;
		transform: translateY(100%) scale(0);
		transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
			display 0.4s ease-in-out;
	}

	#discount-dialog[open] {
		opacity: 1;
		transform: translateY(0) scale(1);
		transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
			display 0.4s ease-in-out;
	}

	@starting-style {
		#discount-dialog[open] {
			opacity: 0;
			transform: translateY(100%) scale(0);
		}
	}

	#discount-dialog::backdrop,
	#login-dialog::backdrop {
		background: rgb(0, 0, 0, 0.4);
		padding: 2rem;
	}

	.dialog-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.dialog-block {
		padding: var(--spacing-xxl);
		gap: var(--spacing-m);

		form {
			margin-block-start: var(--spacing-m);
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: min-content;
			gap: var(--spacing-m);

			label:first-child {
				display: flex;
				flex-direction: column;
				gap: var(--spacing-s);

				.text {
					font-weight: 600;
				}

				input {
					padding: var(--spacing-l);
					border: 1px solid var(--grey-main);
				}

				grid-column: 1/-1;
			}

			label:not(:first-child) {
				margin-block: var(--spacing-m) var(--spacing-l);
			}

			.bar {
				grid-column: 1/-1;
				text-align: center;
				font-size: var(--step--1);
				color: var(--grey-main);
				justify-content: center;
				gap: var(--spacing-m);
			}
		}
	}

	.modal {
		width: 100%;
		height: 100%;
	}

	.image-holder {
		aspect-ratio: 6/7;
	}

	.game-bar {
		background-color: var(--black-overlay);
		color: var(--white-off-white);
		border: 8px solid var(--black-purplish);
		border-radius: var(--radius-xl);
		padding-inline: var(--spacing-xl);
		padding-block-start: var(--spacing-l);
		max-width: 540px;

		.timeline {
			height: 7px;
			border: 1px solid var(--accent-reddish);
			border-bottom: none;
			position: relative;
			margin-block-end: var(--spacing-l);

			#score {
				position: absolute;
				top: -10px;
				left: 0;
				right: 0;
				margin-inline: auto;
				width: fit-content;
				background: var(--black-overlay);
				padding-inline: var(--spacing-s);
				font-size: var(--step--1);
			}
		}

		.pill {
			display: grid;
			place-content: center;
			margin-block-end: var(--spacing-l);

			span {
				font-size: var(--step--1);
				line-height: 20px; /* refix */
				padding-inline: var(--spacing-s);
				padding-block: var(--spacing-xxs);
				display: inline-block;
				margin-inline: auto;
				background: var(--black-faint);
				border-radius: var(--radius-xl);
			}
		}

		.game-info {
			border: 1px solid var(--grey-dirty);
			border-bottom: none;
			border-top-left-radius: var(--radius-m);
			border-top-right-radius: var(--radius-m);
			margin-inline: var(--spacing-d);
			padding-inline: var(--spacing-m);
			padding-block: var(--spacing-d);

			/* Hotfix */
			flex-wrap: wrap;
			gap: var(--spacing-s);

			p {
				margin: 0;
			}
		}

		.block {
			margin-block-end: var(--spacing-xxl);
		}
	}

	#login-dialog {
		max-width: 480px;
		border-radius: 8px;
		border: none;
		background: #121212;
		padding-block-start: var(--spacing-xxxl);
		color: var(--white-off-white);

		h3 {
			font-family: var(--text-font-ff);
		}

		.block {
			justify-items: center;
		}

		.login-type {
			background: rgb(49, 49, 49);
			padding: var(--spacing-xxs);
			border-radius: calc(var(--spacing-xxs) + var(--radius-xxs));
			font-weight: 600;
		}

		.pill-item {
			padding: var(--spacing-s) var(--spacing-xxxl);
			border-radius: var(--radius-xxs);
			color: #a2a2a2;

			&.active {
				background: #616161;
				color: var(--white-main);
			}
		}

		.qr-code {
			background: var(--white-off-white);
			border-radius: var(--radius-xxl);
			width: 200px;
			height: 200px;
			margin-block: var(--spacing-xxl);
		}

		.footer-block {
			background: #252525;

			p {
				margin: 0;
				text-align: center;
				padding: var(--spacing-xl);
			}

			.login-link {
				text-decoration: none;
				color: var(--white-main);
			}

			.special-link {
				text-decoration: none;
				color: var(--accent-crayola);
				font-weight: 600;
			}

			p:first-child {
				font-size: var(--step--1);
				color: #8c9192;
				border-bottom: 1px solid #3e3e3e;
			}
		}
	}

	.name,
	.type {
		display: inline-block;
		font-size: var(--step-0);
		line-height: var(--font-line-height-xl);
	}

	.name {
		padding-inline: var(--spacing-s);
		background: var(--accent-pink);
		color: var(--black-main);
	}

	.type {
		padding-inline: var(--spacing-s);
		background: var(--accent-purple);
		color: var(--white-main);
		border-radius: var(--spacing-xvl);

		&.alternate {
			background: var(--accent-lime-green);
		}
	}

	.block-item {
		display: flex;
		justify-content: start;

		a {
			text-decoration: none;
			display: flex;
			align-items: center;
			gap: var(--spacing-d);

			span:first-child {
				font-weight: 600;
			}

			.card {
				width: 18px;
				height: 22px;
				border-radius: var(--radius-xxs);
				background: var(--accent-orange);
				border: 1px solid var(--accent-brown);
				transform: rotate(7.35deg);
				display: none;
			}
		}

		&[data-issue="medium"] {
			a > .card {
				display: block;
			}
		}

		&[data-issue="hard"] {
			a > .card {
				display: block;
				background: var(--accent-crayola);
				border: 1px solid var(--accent-ncs-red);
			}
		}

		&:hover {
			.card {
				animation: jump 0.4s ease-in-out forwards;
			}
		}
	}

	.block-item-alternate {
		display: flex;
		justify-content: end;

		a {
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: end;
			gap: var(--spacing-d);

			span:last-child {
				font-weight: 600;
				width: 20px;
				text-align: end;
			}

			.icon svg g path {
				fill: var(--accent-blue);
			}

			.current-score {
				background: var(--accent-purple);
				color: var(--white-off-pink);
				padding-inline: var(--spacing-s);
				border-radius: var(--radius-xxl);
				font-weight: 700;
				font-size: 14px;
				text-wrap: nowrap;
			}
		}

		&:hover {
			.icon {
				animation: score 0.4s ease both;
			}
		}
	}

	.grad-btn {
		display: inline-block;
		text-decoration: none;
		padding: 0;
		border: none;
		background: linear-gradient(var(--position), #ed0d88 0%, #1d77ff 100%);
		border-radius: var(--radius-xxxl);
		padding: 2px; /*hotfix*/

		animation: rotate-bg 0.5s infinite linear;
	}

	.button-inner {
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		gap: var(--spacing-s);
		background: var(--black-main);
		color: var(--white-main);
		padding-block: 2px; /* hotfix */
		padding-inline-start: 2.5px;
		padding-inline-end: var(--spacing-d);
		border-radius: var(--radius-xxxl);

		.icon {
			display: grid;
			place-content: center;
			background: var(--white-main);
			color: var(--black-main);
			border-radius: var(--radius-xl);
			padding: var(--spacing-xs);

			svg g path {
				fill: var(--black-main);
			}
		}
	}

	.alt-btn {
		padding: 2px;
		border: none;
		border-radius: var(--radius-xxxl);
		position: relative;
		overflow: hidden;
		display: inline-block;
		text-decoration: none;
	}

	.alt-btn::before {
		content: "";
		display: block;
		width: 12px;
		height: 120px;
		background: var(--gradient-green-yellow);
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-inline: auto;
		animation: rotate 4s infinite linear;
		transform-origin: top center;
	}

	.ob-btn::before {
		background: var(--gradient-orange-blue);
		animation-delay: 0.5s;
	}

	.alt-inner {
		z-index: 1;
		position: relative;
	}

	.clipper-wrap {
		container-type: inline-size;
	}

	.clipper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		margin-block: 5rem;
		margin-inline: 6rem;

		--start-dimension: 52px;
		--mid-dimension: 93px;
		--end-dimension: 143px;

		.start,
		.midpoint,
		.end {
			background-color: var(--grey-light-dark);
			border-radius: 50%;
			position: relative;
		}

		.start {
			width: var(--start-dimension);
			height: var(--start-dimension);
		}

		.midpoint {
			width: var(--mid-dimension);
			height: var(--mid-dimension);
		}

		.end {
			width: var(--end-dimension);
			height: var(--end-dimension);
		}

		&::before {
			position: absolute;
			content: "";
			display: block;
			left: calc(var(--start-dimension) / 2);
			right: calc(var(--end-dimension) / 2);
			height: var(--end-dimension);
			background: #d9d9d974;
			clip-path: polygon(
				0 calc((var(--end-dimension) - var(--start-dimension)) / 2),
				100% 0,
				100% 100%,
				0
					calc(
						((var(--end-dimension) - var(--start-dimension)) / 2) +
							var(--start-dimension)
					)
			);
		}

		.breakdown {
			position: absolute;
			margin: 0;
			padding: 0;
			text-align: center;

			dt {
				font-weight: 700;
				margin-block-end: var(--spacing-d);
			}

			dd {
				margin: 0;
				font-weight: 600;
				color: var(--grey-dark);
				text-wrap: nowrap;
			}

			dd + dd {
				margin-block-start: var(--spacing-s);
			}

			&[data-type="start"] {
				top: calc(
					var(--start-dimension) +
						calc((var(--end-dimension) - var(--start-dimension)) / 2) +
						var(--spacing-l)
				);
				left: -70px; /* Hot-fix */
			}

			&[data-type="midpoint"] {
				top: calc(
					var(--mid-dimension) +
						calc((var(--end-dimension) - var(--mid-dimension)) / 2) +
						var(--spacing-l)
				);
				left: -60px; /* Hot-fix */
			}

			&[data-type="end"] {
				top: calc(var(--end-dimension) + var(--spacing-l));
				left: -10px;
			}
		}

		@container (max-width: 720px) {
			margin-inline: 0;
			--start-dimension: 24px;
			--mid-dimension: 48px;
			--end-dimension: 72px;

			.breakdown {
				dd {
					display: none;
				}

				&[data-type="start"] {
					left: 0;
				}

				&[data-type="midpoint"] {
					left: -5px;
				}

				&[data-type="end"] {
					left: 0;
				}
			}
		}
	}
}

@layer animations {
	@keyframes rotate-bg {
		from {
			--position: 0deg;
		}

		to {
			--position: 270deg;
		}
	}

	@keyframes rotate {
		from {
			transform: rotate(0);
		}

		to {
			transform: rotate(360deg);
		}
	}

	@keyframes underline-it {
		from {
			background-size: 100% var(--size);
		}

		50% {
			background-size: 0% var(--size);
		}

		to {
			background-size: 100% var(--size);
		}
	}

	@keyframes jump {
		from {
			transform: translateY(0);
		}

		to {
			transform: translateY(-50%);
		}
	}

	@keyframes score {
		from,
		to {
			transform: translateX(0) scale(1);
		}

		50% {
			transform: translateX(-200%) scale(1.2);
		}
	}
}

@layer media {
	@media (width <= 920px) {
		#expansive {
			#life {
				.decorator {
					display: none;
				}
			}
		}
	}
	@media (width <= 720px) {
		#expansive {
			#project {
				.buttons-para {
					p {
						text-align: start;
					}
				}
			}

			#life {
				.end {
					& > :last-child {
						display: none;
					}
				}
			}
		}

		#odin {
			flex-wrap: wrap;

			& > * {
				flex-basis: 100%;
			}
		}
	}

	@media (width <= 520px) {
		.bottom-bar {
			padding-inline: var(--spacing-l);

			.progress {
				gap: var(--spacing-m);
			}
		}
		#navpopover {
			padding: var(--spacing-xl);

			#closenavpopover {
				right: var(--spacing-xl);
			}
		}
	}
}
